.first
{

}
.img1
{
background-image:url("/images/home/section 3/blue_rect.png");
}


.img2
{
background-image:url("/images/home/section 3/grey_rect.png")
}

.header
{
text-align:center;
}

.para
{
text-align:center;
}


.section6pic
{
background-image:url("/images/home/section 6/rectangle.png");
}


.section1
{
background-image:url("/images/firstbig.png");

}



.effelogo
{
position: absolute;
    left: 40px;
    top: 40px;
}


.searchbox
{
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
width:50%;
}

.text
{
color:white;
}




sec1inside
{
background-image:url("/images/home/people.png");
}